:root {
  --color-background-main: #FFF;

  font-size: 16px;

  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, button {
  margin: 0;
  padding: 0;
}

/* GENERAL */
.App {
  min-height: 100vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.App-main-title {
  font-size: 2rem;
}

.ImageCard-image {
  /* width: 350px; */
  width: 90%;
  height: 90%;
  border: 1px solid black;
  border-radius: 10px;
}

.Game {
  background-color: aqua;
}

.StatPanel {
  background-color: blueviolet;
}

.Graph {
  background-color: beige;
}

/* MOBILE FIRST */


/* MEDIUM */
@media screen and (min-width: 510px) {
  .App {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    align-items: normal;
  }
}

/* LARGE */
@media screen and (min-width: 1200px) {
  
  .App {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    align-items: normal;
  }
}
